* {
  margin: 0px;
  padding: 0px;
}

#octocat {
  display: block;
  width: 384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font:
    30px Monaco,
    "Courier New",
    "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono",
    monospace;
}
.block {
  width: 100px;
  height: 100px;
  background-color: coral;
  border: 1px solid gray;
  border-radius: 0.5rem;
  margin: 0 auto;
  transition: background 0.5s ease-in-out;
}

.block:hover {
  background-color: black;
}
