* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  color:#333;
  line-height: 1.5;
  text-align: center;
  }
body {
  font-family: 'Segoe UI4, Tahoma, Genova, Verdana, sans-serif;
  background-color: #f8f9fa;
}
#octorat img {
  display: block;
  widh: 100%;
  height: auto;
}
}
